/* global variables */
:root {
  --main-color: darkorange;
  --padding: 100px;
}

/*end*/

html {
  scroll-behavior: smooth;
  overflow-x: hidden
}

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  ;
}

body {
  font-family: "work Sans", sans-serif;
}

.container {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  list-style-type: none;
}

/* heading above each block */
.design {
  text-transform: uppercase;
  text-align: center;
  border: 5px solid black;
  padding: 15px 30px;
  margin: 25px auto 50px auto;
  transition: 0.3s;
  font-weight: 900;
  position: relative;
  width: 300px;
  color: var(--main-color);
}

@media (max-width:767px) {
  .design {
    padding: 0;
    width: 50vw
  }
}

.design:after,
.design:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
}

.design:after {
  left: -40px;
}

.design:before {
  right: -40px;
}

.design:hover {
  background-color: black;
  color: white;
}

/* design for words in .statistics */
.design-stat{
  font-size: 90px;
  font-family: 'Send Flowers', cursive;
  font-weight: bold;
  color: #333;
  border: 0px solid green;
  opacity: 1;
  position: absolute;
  top:80px;
  z-index: -1;
}

/* end */
/*spinner div*/
.spinner{
	height:100vh;
	width:100%;
	background-color:#1c1c1c;
	position:absolute;
	top:0;
	left:0;
	opacity:1;
	transition:1s;
}
.spinner i{
	color:white;
	font-size:110px;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	animation: rotation 1s infinite;
	animation-timing-function:linear;

}
@keyframes rotation{
	0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
/*end*/
/* setting box */
.setting-box {
  width: 250px;
  height: 100vh;
  background-color: #fff;
  left: -250px;
  top: 0px;
  position: fixed;
  transition: 1.4s;
z-index: 1;
}

.setting-box .gear-container {
  padding: 10px;
  position: absolute;
  right: -44px;
  top: 150px;
  background-color: var(--main-color);
  font-size: 24px;
  cursor: pointer;
  z-index: 2000;
}

.open {
  left: 0px
}

.settings-div{
  border:0px solid green;
  text-align: center;
  background-color: #e6e6e6;
  width:90%;
margin: auto;
margin-top: 20px;
border-radius: 5px;
padding-bottom: 10px;
}
.settings-div h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding-left: 0px;
  padding-top: 25px;
  color:white;
  margin-bottom: 25px;
}

.settings-div span{
  width:80px;
  background-color: #009688;
  color:white;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
}
.background-option span.active{
  opacity:1;
}
.settings-div span:nth-child(2){
  margin-right: 10px;
 }
.settings-div span:nth-child(3){
  margin-left: 10px;
 }


.setting-box .colors ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting-box .colors ul li {
  width: 35px;
  height: 35px;
  list-style-type: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin: 0 5px;
}

.setting-box .colors ul li:first-child {
  background-color: darkorange;
}

.setting-box .colors ul li:nth-child(2) {
  background-color: salmon;
}

.setting-box .colors ul li:nth-child(3) {
  background-color: teal;
}

.setting-box .colors ul li:nth-child(4) {
  background-color: aqua
}

.setting-box .colors ul li:last-child {
  background-color: silver;
}
@media (max-width:768px){
  .setting-box{
    opacity: 0;
  }
}
/* end setting box */

/* start button to up section */
.button-to-up {
  position: fixed;
  right: 80px;
  bottom: 50px;
  display: none;
  z-index: 10000;
}

@media (max-width:768px) {
  .button-to-up {
    right: 20px
  }
}

.button-to-up i {
  color: var(--main-color);
  font-size: 50px;
  cursor: pointer;
}

/* end button to up section */

/* start landing section */
.landing {
  background: url(../images/01.jpg);
  background-size: cover;
  min-height: 100vh;
  /*code above about blend mode used insted of create overlay div*/
  transition: background-image 0.5s;
  /* we change background by js, so we need smoth movement during chnanging, we write transition into landing div */
}


.landing .setting-box i {
  color: white;
  padding: 8px;
  position: absolute;
  right: -40px;
  top: 10px;
  font-size: 24px;


}

.landing .setting-box:hover {
  left: 0px
}

.header {
  display: flex;
  padding: 20px 0px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}


.header .logo {
  width: 300px;
  text-align: left;
}

.header .logo a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.header .logo a span {
  color: var(--main-color);
}
.header i{
  color:var(--main-color);
  font-size: 18px;
}
@media(min-width:768px){
  .header i {
    display: none;
  } 
}


.header ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  border: 0px solid green;
  transition: 2s;
}

  .showMenuResponsive {

    flex-direction: column;
    position: absolute;
    left:0px;
    top:100%;
    padding-left: 0px;
    margin-left: 0px;
	z-index:1000;
  }

  
@media (max-width: 768px) {
  .header ul {
    padding-right: 0px;
  }
}


.header ul li {
  margin-left: 0px;
  border: 0px solid red;
  text-align: center;
  margin-bottom: 20px;
}

.header ul li a {
  color: white;
  text-decoration: none;
  transition: 0.4s; 
  text-transform: capitalize;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.header ul li a.active{
  color:var(--main-color);
}
.testing{
  font-size: 5px;
}

@media (max-width:768px) {
 
  .header ul {
    display: none;
  }
  .header ul li{
    text-align: left;
  }
  .header ul li a {
    padding: 0px;
     }
}

.landing-text {
  color: white;
  position: absolute;
  text-align: center;
  opacity: 0;
  transition: 0.9s;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  
}

/* class below used in js file to apply when document is loaded to show landing text in fade in andfrom bottom to up */
.showLanding {
  top: 50%;
  opacity: 1;
}


@media (max-width: 768px) {
  .landing-text {
    width: 100%;
    padding: 0px 10px
  }
}

.landing-text .title {
  margin-bottom: 10px;
  font-size: 48px;
}

.landing-text .title span {
  color: var(--main-color);
}

.landing-text p {
  line-height: 1.6;
  font-size: 18px;
}

/*media query*/


/*start prouct section*/
.products {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.products .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product_card {
  border: 0px solid green;
  padding: 20px;
  box-shadow: 0px 0px 5px black;
  margin-right: 10px;
  margin-bottom: 10px;
}

.prod_title {
  margin-bottom: 10px;
  color: var(--main-color);
}

.prod_img {
  width: 200px;
  transition: 2s;
}

.prod_img:hover {
  transform: scale(1.1);
}

.prod_price {
  color: var(--main-color);
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  display: block;
}

/* end product section */

/* start section ofteams */
.teams {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: brown;
}

.our-team {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--main-color);
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.teams .main-team-container {
  position: relative;
  border: 0px solid green;
  opacity: 0;
}

.fa-arrow-left,
.fa-arrow-right {

  color: var(--main-color);
  font-size: 32px;
  cursor: pointer;
  top: 0%;
  transform: translateY(-50%);
  position: absolute;
  transition: 3s;
  opacity: 0;
}

.changeArrowPosition {
  top: 50%;
  opacity: 1;
}

.teams .main-team-container .fa-arrow-right {
  right: -70px;
}

.teams .main-team-container .fa-arrow-left {
  left: -70px;
}

#member {
  margin-left: 0px;
}

/* .teams .team-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: 0px solid red;
  gap: 60px;
  margin: auto;
  position: relative;
  height: 350px;
} */

.teams .team-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border: 0px solid red;
  margin: auto;
  position: relative;
  height: 350px;
  gap: 110px
}




@media (max-width: 768px) {
  .teams .main-team-container .fa-arrow-right {
    right: 0px;
    top: 110%;
  }

  .teams .main-team-container .fa-arrow-left {
    left: 0px;
    top: 110%;
  }
}

.teams .team-container .member {
  height: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  /* padding-right: 18px;
  padding-left: 18px; */
  border: 0px solid green;
}

.member img {
  position: relative;
  transition: 1.5s;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 1;
}

.memberInfo {

  background-color: var(--main-color);
  color: #e6e6e6;
  padding: 10px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  top: -150px;
  position: relative;
  transition: 0.4s;
}

/* note here we have another style for animation of image and info, just remove s from member
and disable keyframe
.members:hover .memberInfo {
  top: 0px;
  transform: rotate(-360deg);
}

.members:hover img {
  transform: rotate(360deg);
} */

.member img:hover+.memberInfo {
  animation-name: jm;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes jm {

  0% {
    left: 0;
  }

  45% {
    left: 100%;
    top: -150px
  }

  50% {
    left: 100%;
    top: -150px
  }

  75% {
    left: 100%;
    top: 100%
  }

  100% {
    top: 100%;
    left: 0px;
  }
}

.outAnimation {
  animation-name: jm-out;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes jm-out {

  0% {
    top: 100%;
    left: 0px;

  }

  45% {
    left: 100%;
    top: 100%;
  }

  50% {
    left: 100%;
    top: 100%;
  }

  75% {
    left: 100%;
    top: -150px;
  }

  100% {
    left: 0;
    top: -150px;
  }
}

@media (max-width: 768px) {
  .teams .team-container .member, #member {
    width: 200px;
    padding-left: 0px;
    padding-right: 0px;

  }

  .member img {
    width: 100%;
  }

  .member .memberInfo {
    top: 0px;
  }

  .member img:hover+.memberInfo {
    animation-name: jms;
    animation-duration: 0s;

  }

  .outAnimation {
    animation-name: jm-outs;
    animation-duration: 0s;

  }
}

/* end section of teams */

/* start statistics section */
.statistics {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  position: relative;
}

.satisfImg {
  position: absolute;
  right:-600px;
  width:400px;
  top:25px;
  opacity: 0;
  
}
@media(max-width:768px){

  .satisfImg {
    width: 40%;
right:0;
  }
  
}
.header-container {
  position: relative;
  border: 0px solid red;
  padding: 0px 0px 40px 0px;
}

.statistic-header {
  color: #e6e6e6;
  font-size: 95px;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .statistic-header {
    font-size: 64px;
  }

  .header-container {
    margin-bottom: 60px;
  }
}


.statistic-header label {
  color: var(--main-color)
}

.statistic-header span:nth-child(2) {
  display: block;
}

.static-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  
}

.statistics .box-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 0px solid green;
}

.statistics .box-value .client-number {
  font-size: 80px;
  letter-spacing: -10px;
  color: var(--main-color);
  font-weight: bolder;
  /* border: 5px solid var(--main-color); */
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}



/* end statistics section */

/* footer section */
.footer {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: black;

}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.location {
  border: 0px solid green;
  width: 250px;
  margin-left: 0px;
}

.location ul li {
  padding: 10px 0px;
}

.location ul li a {
  color: var(--main-color);
  transition: 0.5s;
}

.location ul li a i {
  margin-right: 10px;
}

div.som {
  border: 0px solid green;
  width: 150px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  border: 0px solid green;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  margin-left: 0px;
}

div.som div {
  width: 48%;
  text-align: center;
  height: 75px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #e6e6e6;
}

div.som div span {
  color: var(--main-color);
  display: inline-flex;
  transform: rotate(-45deg);
  width: 100%;
  height: 100%;
  border: 0px solid white;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

@media (max-width: 768px) {
  div.som {
    margin-top: 90px;
    margin-bottom: 90px;
  }
}

.footer-form {
  border: 0px solid green;
  width:300px;
  max-width:100%;
  }

.footer-form label {
  color: var(--main-color);
  font-size: 14px;
  display: block;
  margin-bottom: 2px;
}
.footer-form input{
  padding:10px 5px;
  margin-bottom: 10px;
  caret-color: var(--main-color);
  border: 0px;
  outline: 0px;
  width:100%;
  border-radius: 5px;
}
.footer-form input::placeholder{
  color: var(--main-color);
}
button{
  padding: 5px;
  color:#fff;
  border-radius: 2px;
  border: 0px;
  outline: 0px;
  background-color:var(--main-color);
  border-radius: 5px;
  padding: 5px 10px;
}

/*small screen*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*big screen*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}